@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee';
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --primary--color: #fdfdfd; 
    --secondary-color: #333; 
    --main-color: yellowgreen; 
    --white-color:#fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2); 
}

.darkicon {
    --bg-color: @0b061f;
    --primary--color: #0b061f;
    --secondary-color: #fff;
    --main-color: #4ef981;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--primary--color);
    color: var(--secondary-color);
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

#more{
    display: none;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header.sticky .navbar a {
    color: var(--text-color)
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.header.sticky .navbar a::before{
    background-color: var(--main-color);
    opacity: .7;
}
#menuicon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar a {
    font-size: 1.7rem;
    color:var(--white-color);
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 3.5rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: calc(.2s * var(--i)); 
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background-color: var(--white-color);
}


.toggle {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: 3.5s;
}



.toggle .toggle-icon {
    font-size: 24px;
    color: var(--primary--color);
}

.header.sticky .toggle-icon{
    color: var(--text-color);
    opacity: .9;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
   
    display: flex;
    align-items: center;

}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    line-height: .3;
    opacity: 0;
    animation: slideRight 1s ease forwards; 
    animation-delay: .7s; 
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3px;
    opacity: 0;
    animation: slideRight 1s ease forwards; 
    animation-delay: 1s; 
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: .7s; 
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 25px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: calc(.2s * var(--i)); 
}

.social-media a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    color: var(--white-color);
    border-radius: 6px;
    box-shadow: 0 2px 5px --shadow-color;
    border: 2[px solid transparent];
    font-size: 16px;
    letter-spacing: 1px;  
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards; 
    animation-delay: 2s; 
}


.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, professionRotate 13s ease-out infinite; 
    animation-delay: 2.5s, 3.5s; 
}

.profession-box .prof {
    position: absolute;
    left: 0;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 4 * var(--i) ));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--primary--color);
    padding: 13px 0;
}

.profession-box .prof:nth-child(1) i {
    margin-right: 15px;
}

.profession-box .prof:nth-child(2) i {
    margin-right: 20px;
}

.profession-box .prof:nth-child(4) i {
    margin-right: 15px;
}

.prof i{
    font-size: 38px;
}

#menu {
    display: none;
}

.prof h3{
    font-size: 28px;
    line-height: 1;
    font-weight: 400px;
}

.profession-box .circle {
    width: 70%;
    height: 70%;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.profession .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: 1.5s; 
}

.home-img img{
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 500px;
    width: 50%;
    pointer-events: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
    animation-delay: 2.8s;
    border-radius: 50%;
    margin-right: 300px;
}

.about-img img{
    border-radius: 50%;
    width: 90%;
    
}

span{
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
    justify-content: center;
}

.about-cont h2{
    text-align: left;
    line-height: 1.2;
}

.about-cont h3{
    font-size: 2rem;
}

.about-cont p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.service {
    min-height: auto;
    padding-bottom: 7rem;
}

.service h2{
    margin-bottom: 5rem;

}

.service ,.service-cont{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: 2rem;
    gap: 2rem;
}

.service-cont .service-box{
    flex: 1 1 30rem;
    background-color: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.service-cont .service-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.6rem;
}

.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem 7%;
    background: var(--main-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-icon a:hover{
    outline-color: var(--white-color);
}

.footer-icon a i{
    font-size: 2.4rem;
    color: #333;
}

/* KEYFRAMES ANIMATiON */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes  professionRotate{
    0%,20%{
        transform: rotate(0deg);
    }
    25%,45%{
        transform: rotate(-90deg);
    }
    50%,70%{
        transform: rotate(-180deg);
    }
    75%,95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home .profession{
        height: 85.8rem;
    }
    .home .profession .profession-box {
        right: -12rem;
        height: 85.8rem;
    }
    .home .profession .overlay{
        right: -9rem;
    }
}

@media (max-width:1024px){
    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 3% 2rem;
    }
    .home .profession {
        right: -22rem;
    }
    .home .profession .overlay{
        right: -15rem;
    }
}

@media (max-width: 991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before {
        background:var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }
    .home .profession .profession-box {
        right: -45rem;
    }
    .home .profession .overlay{
        right: -39.5rem;
    }
    .home-img img {
        display: none;
    }

    .service{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width:768px){
    #menuicon{
        display: block;
    }

    .header{
        background-color: var(--white-color);
    }
    .home-content{
        margin-top: 100px;
    }

    
    

    #darkicon{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    #id{
        display: none;
    }
    .overlay{
        display: none;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem  solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        display: none;

    }

    .navbar.active{
        display: block;
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color)
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }

    .navbar a.active{
        color: var(--main-color);
    }
    .navbar a::before{
        display: none;
    }

    .service {
        padding-bottom: 7rem;

    }
    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }
    
    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size:5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home  .profession{
        left: 0;
        width:100%;
        height: 100%;
    }

    .home .profession .profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession .prof{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }
    .home .profession-box .prof:nth-child(1){
        transform: rotate(-90deg) translate(-100px, -180px);
    }
    .home .profession-box .prof:nth-child(1) i{
        margin-right: 0;
    }

    .home .profession-box .prof:nth-child(2){
        transform: rotate(0deg) translate(0, -325px);
    }

    .home .profession .prof:nth-child(3){
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession .prof:nth-child(4){
        transform: rotate(180deg) translate(-210px, -35px);
    }
    
    .home .profession-box .circle {
        position: fixed;
        width: 0px;
        height: 0px;
        z-index: -1;
    }


    .home .profession .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;

    }

    .profession-box{
        margin-top: 150px;
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-cont h2{
        text-align: center;
    }

    .about-img img{
        width: 70vw;
        margin-top: -2rem;
    }
    .service h2{
        margin-bottom: 3rem;
    }
}

@media (max-width: 617px){
    .service-box{
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px){
    html{
        font-size{
            right: 6rem;
        }
    }
    #darkicon{
        right:6rem;
    }    

    .home {
        padding: 0 3% 30rem;
    }

    .home .profession-box .prof:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .prof:nth-child(2){
        transform: rotate(0deg) translate(5px, -335px);
    }
    .home .profession-box .prof:nth-child(3){
        transform: rotate(90deg) translate(-105px, -440px);
    }
    .home .profession-box .prof:nth-child(4){
        transform: rotate(180deg) translate(-210px, -355px);
    }
}

@media (max-width: 365px) {
    .about-img img {
        width: 90wv;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

